.navbar-item{
    color:gray;
    margin-left:2vw;
    position:relative;
    top:7px;
    font-size:16px;
}
.navbar-item:hover,#basic-nav-dropdown:hover {
    color:white;
    text-decoration: none;
}

.dropItem{
    text-decoration:none;
    margin-top:2vh;
    margin-bottom:2vh;
}

.navbar{
    padding-right:15px;
}

.navbar-brand{
    padding-left:15px
}
.dropdown-item{
    text-decoration-line: none;
    color:white;
    width:auto !important;
    margin:7.5px;
}

.dropdown-item:hover{
    color:white;
}